body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;

}
h1, h2, h3, p{
    margin: 0;
}
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}