.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-d {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    text-decoration: none;
    margin-bottom: 16px;
    text-align: center;
}

.web-logo {
    color: #4D5AE5;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;

}

.footer-social-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}


.footer-subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.subscribe-label {
    width: 100%;
}

.subscribe-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-input:focus {
    border-color: #31D0AA;
    outline: none;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31D0AA;
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}


@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        gap: 72px 24px;
        width: 584px;
        padding: 0;
    }

    .footer-info-block,
    .footer-social-block,
    .footer-subscribe-block {
        align-items: flex-start;
        text-align: left;
    }

    .logo-d,
    .social-title,
    .subscribe-title {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        width: auto;
    }

    .subscribe-label {
        width: auto;
    }

    .subscribe-input {
        width: 264px;

    }

    .subscribe-btn {
        margin: 0;
    }
}


@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
        width: 1158px;
        padding: 0;
    }

    .footer-info-block {
        margin-right: 120px;

    }

    .footer-subscribe-block {
        margin-left: auto;
    }

    .subscribe-btn {
        margin: 0;
    }
}