
.hero {
    background-color: #2E2F42;
    padding: 112px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}


@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-mob@2x.jpg');
    }
}

.hero-text {
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11;

    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    max-width: 216px;
    
    margin: 0 auto 72px auto;
  
}

.hero-btn {
    display: block;
    margin: 0 auto;
   
    min-width: 169px;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
  
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-tab.jpg');
    }

  
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-tab@2x.jpg');
        }
    }

    .hero-text {
        font-size: 56px;
       
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}


@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-desk.jpg');
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg-desk@2x.jpg');
        }
    }

    .hero-text {
        margin-bottom: 48px;
    }
}